@import '../../scss/main.scss';

.main-container {
    display: flex; 
    flex-direction: column;
    align-items: stretch; 
    justify-content: center;
    width: 100%;

    @include breakpoint-lg {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch; 

        .calendar-container, .court-time-slots-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center; 
            margin: 20px;
            padding: 20px;
            box-sizing: border-box;
        }
    }
}

.calendar-container, .court-time-slots-container {
    background-color: #abedd8; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 20px;
}

.react-calendar {
    border: none;
    padding: 10px;
    width: 100%;
    max-width: 600px;
}

.react-calendar__navigation {
    background-color: #2b2b2b;
    border-bottom: 1px solid #ddd;
    color: #abedd8;
}

.react-calendar__navigation button {
    color: #abedd8;  
}

.react-calendar__navigation button:hover {
    background-color: #2b2b2b;
    color: #2b2b2b;
}

.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    text-align: center;
    color: #abedd8;
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

.react-calendar__month-view__weekdays {
    text-align: center;
    color: #2b2b2b; 
}

.react-calendar__month-view__days__day {
    padding: 8px 0;
}

.react-calendar__tile--active {
    background-color: #2b2b2b;
    color: white;
}

.react-calendar__tile-content {
    visibility: visible;
}

.react-calendar__tile {
    color: #333; 
    background-color: #fff; 
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6f4f1;
    color: #2b2b2b; 
}

.court-time-slots-container {
    background-color: #abedd8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.court-container {
    flex: 1;
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
}

.court-container h3 {
    text-align: center;
    color: #2b2b2b;
    margin-bottom: 10px;
}

.time-slots {
    flex-grow: 1; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
}

.time-slots button {
    padding: 5px 10px;
    font-size: 0.8rem;
    background-color: #2b2b2b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.33% - 20px);
}

.time-slots button:hover {
    background-color: #e6f4f1;
    color: #2b2b2b;
}

.unavailable-slot {
    background-color: red;
    cursor: not-allowed;
    opacity: 0.5;
}



