.login-container {
    font-family: Arial, sans-serif;
    background-color: #d5f6eb; /* Light green background */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    margin-top: 180px;
    justify-content: center;
    align-content: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px; /* Adjust as needed */
    height: auto;
}

.login-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #111111; /* Dark color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #333333;
}

.signup-link {
    margin-top: 20px;
}

.signup-link a {
    color: #111111;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}